{% extends "admin_pages/base.html" %}


{% block title %} Suppliers List {% endblock title %}


{% block content %}
<div class="container">
    <div class="row" style="color: #575757; font-style: bold; font-size: 3rem;">
        <div class="col-md-7">Suppliers List</div>
        <div class="col-md-4">
            <div class="float-md-right">
                <a class="btn btn-success" href="{{ url_for('jokamu.create_supplier') }}">Add New Supplier</a>
                <br><br>
                <input type="text" class="form-control" placeholder="Search..." name="q"
                       hx-get="/search_supplier" hx-trigger="keyup changed delay:100ms" hx-target="#results">
            </div>
        </div>
    </div>
</div>
<div style="border-bottom: 1px solid white;"></div>
<br>
<table class="table table-css table-hover table-bordered" id="results">

    <thead class="thead-dark align-middle">
    <tr style="background-color: #343a40; font-size: 1.4rem; color: white; text-transform: capitalize; height: 50px">
        <th width="20%">Name</th>
        <th width="15%">Contact</th>
        <th width="25%">Email</th>
        <th width="30%" style="text-align: center">Actions</th>
    </tr>
    </thead>

    {% if suppliers %}

    <tbody>
    {% for supplier in suppliers %}
    <tr>
        <td>
            <p style="color:seagreen; font-size: 1.6rem; font-weight: normal"><a
                    href="{{url_for('jokamu.supplier_details', id = supplier.id)}}">{{ supplier.name }}</a></p>
        </td>
        <td class="align-middle"> {{ supplier.phone }}</td>
        <td class="align-middle"> {{ supplier.email }}</td>
        <td class="align-middle text-center">
            <div class="d-inline-block align-middle">
                <a href="{{url_for('jokamu.update_supplier', id = supplier.id)}}" class="btn btn-info btn-sm">Edit
                    Details</a>
                <a href="{{url_for('jokamu.delete_supplier', id = supplier.id)}}" class="btn btn-danger btn-sm">Delete
                    Supplier</a>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>

</table>


{% else %}

<tbody></tbody>
</table>

<br><br><br><br><br><br><br><br>
<div style="color: #575757; font-style: bold; font-size: 1.5rem; text-align: center;">The records are empty. Please try
    adding some.
</div>

{% endif %}

<!-- PAGINATION code -->
<nav aria-label="..." style="text-align: center">
    <ul class="pagination">
        <li class="page-item {% if prev_url is none %}disabled{% endif %}">
            <a class="page-link {% if prev_url is none %}disabled{% endif %}" {% if prev_url is not none
               %}href="{{ prev_url }}" {% endif %} tabindex="-1">Previous</a>
        </li>
        {% for num in range(1, num_pages + 1) %}
        <li class="page-item {% if num == current_page %}active{% endif %}">
            <a class="page-link" href="{{ url_for('jokamu.suppliers_list', page=num) }}" tabindex="3">{{ num }}
                {% if num == current_page %}
                <span class="sr-only">(current)</span>
                {% endif %}
            </a>
        </li>
        {% endfor %}
        <li class="page-item {% if next_url is none %}disabled{% endif %}">
            <a class="page-link {% if next_url is none %}disabled{% endif %}" {% if next_url is not none
               %}href="{{ next_url }}" {% endif %}>Next</a>
        </li>

    </ul>
</nav>

{% endblock content %}